<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm-Delete</title>
</head>
<body>
    <h2>Confirmação de Exclusão</h2>
    <p>Tem certeza que deseja excluir o registro {{ id_controle }}</p>
    <form method="POST" action="{% url 'delete' id_controle.id_controle %}">
        {{% csrf_token %}}
        <button type="submit">Confirmar Exclusão</button>
        <a href="{% url 'index' %}">Cancelar</a>
    </form>
</body>
</html>