<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Veículos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">

        <h2>
            <a href="/">Página Inicial</a>
        </h2>

        <ul>
            <li>
                <a href="/cadveiculos">Veículos</a>
            </li>
            <li>
                <a href="/cadmotoristas">Motoristas</a>
            </li>
            <li>
                <a href="/movimentacao">Movimentação</a>
            </li>
        </ul>

    </nav>

    <div class="container">
        
        <h1>Cadastro de Veículos</h1>

        <div>
            <form method="POST" action="/cadveiculos/" class="div-input">
                {% csrf_token %}

                <label class="label">Placa</label>
                {{ form.placa_veiculo }}
                
                <label class="label">Marca</label>
                {{ form.marca_veiculo }}

                <label class="label">Veículo</label>
                {{ form.nome_veiculo }}

                <label class="label">Km da Troca de Óleo</label>
                {{ form.km_troca_oleo_veiculos }}

                <button type="submit" class="btn-salvar">Salvar</button>
            </form>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="{% if message.tags %}alert alert-{{ message.tags }}{% else %}alert{% endif %}" style="font-size: 25px; color: #20c997; text-align: center;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</body>
</html>