* {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

body{
    background-color: #535d68;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #343a40;
}

.navbar h2 a{
    opacity: 1;
    text-decoration: none;
    color: #fff;
}

.navbar h2 a:hover{
    color: #20c997;
    transition: .3s;
}

.navbar ul{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    transition: .3s;
    font-size: 20px;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
}

.navbar ul li a:hover{
    opacity: 1;
    color: #20c997;
}

/* TABELA DE CONSULTAS */
.table-movimentacao{
    display: flex;
    flex-direction: column; 
    margin: 5rem;
    border-collapse: collapse;
    /* border: 1px solid #343a40; */
    border-radius: 3px;
}

.table-movimentacao table{
    font-size: 20px;
    text-align: center; 
}

.title{
    background-color: #20c997;
    color: #fff;
    height: 2rem;
}

.table-content{
    color: #fff;
    background-color: #343a40;
    height: 2rem;
}

.btn-action{
    cursor: pointer;
    border: 1px solid #535d68;
    border-radius: 2px;
    padding: 2px;
    font-size: 18px; 
    text-decoration: none; 
    color: #fff;
}

/* ESTILIZAÇÃO DA TABELA DATA TABLES */
#table_info{
    color:#fff
}
#table_length{
    color: #20c997;
}
#table_filter{
    color: #fff;
}
#table_paginate{
    color:#fff;
}
#table_previous{
    color: #fff;
}
#table_next{
    color: #fff;
}
.dataTables_empty{
    color: #fff;
}