<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav class="navbar">
        <h2>
            <a href="/">Página Inicial</a>
        </h2>
        <ul>
            <li>
                <a href="{% url 'cadveiculos' %}">Veículos</a>
            </li>
            <li>
                <a href="{% url 'cadmotoristas' %}">Motoristas</a>
            </li>
            <li>
                <a href="{% url 'movimentacao' %}">Movimentação</a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    <!-- TABELA DE MOVIMENTAÇÃO -->
    <div class="table-movimentacao">
        <table>
            <thead>
                <tr class="title">
                    <th><input type="checkbox"></th>
                    <th>Id</th>
                    <th>Veículo</th>
                    <th>Motorista</th>
                    <th>Data Saída</th>
                    <th>Hora Saída</th>
                    <th>Destino</th>
                    <th>Data Retorno</th>
                    <th>Hora Retorno</th>
                    <th style="background-color: #ff3503;">Visualizar</th>
                    <th style="background-color: #ff3503;">Editar</th>
                    <th style="background-color: #ff3503;">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for id_controle in controle_veiculos %}
                    <tr class="table-content">
                        <td class="content"><input type="checkbox"></td>
                        <td>{{ id_controle.id_controle }}</td>
                        <td>{{ id_controle.placa_veiculo_FK }}</td>
                        <td>{{ id_controle.cod_motorista_FK }}</td>
                        <td>{{ id_controle.data_saida }}</td>
                        <td>{{ id_controle.hora_saida }}</td>
                        <td>{{ id_controle.destino }}</td>
                        <td>{{ id_controle.data_retorno }}</td>
                        <td>{{ id_controle.hora_retorno }}</td>
                        <td><a href="/edit/{{ id_controle.id_controle }}" class="btn-action">Visualizar</a></td>
                        <td><a href="/edit/{{ id_controle.id_controle }}"  class="btn-action">Editar</a></td>
                        <td><a href="/confirm_delete/{{ id_controle.id_controle }}" class="btn-action">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>